


footer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 100%;
    margin: auto;
    opacity: 1;
    border-top: 1px solid #212121;
    background-color: black;
}

.social-media-img
{
    height: 5vh;
}

.codecell-img
{
    height: 10vh;
}



.contact-container {
  display: flex;
  width: 85vw;
  height: 100vh;
  background: var(--bg-color);
}

.left-col {
  width: 45vw;
  height: 100%;
  background-image: url("/assets/img/pic2.png");
  background-size: cover;
  background-repeat: no-repeat;

}

.right-col {
  background: var(--bg-color);
  width: 50vw;
  height: 100vh;
  padding: 5rem 3.5rem;

}

h1, label, button, .description {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

h1 {
  color:var(--h1-color);
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
}

p {
  color: var(--secondary-color);
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  width: 40vw;
  margin: 0.25rem 0;
}
img:hover{
transform: scale(1.5);
}





