


<div class="contact-container">
  <div class="left-col">
  </div>
  <div class="right-col">


    <h1>Contact us</h1>
    <h4><img class="social-media-img" src="/assets/img/gps.png"> : NABEUL , 6 Rue Ibn Khaldoun </h4>

    <h4 >
      <img class="social-media-img" src="/assets/img/telo.png"> : +216 90 485 951 </h4>
    <h4><img class="social-media-img" src="/assets/img/telo.png"> : +216 92 778 200 </h4>
    <h4> <img class="social-media-img" src="/assets/img/mail.png"> : Contact@Naksha.com</h4>

  </div>
</div>



<footer>
  <a href="#" target="_blank"><img class="social-media-img" src="/assets/img/facebook.png" alt="Facebook"></a>
  <a href="#" target="_blank"><img class="social-media-img" src="/assets/img/instagram.png" alt="Instagram"></a>
  <a href="#" target="_blank"><img class="social-media-img" src="/assets/img/twitter.png" alt="Twitter"></a>
  <a href="https://www.youtube.com/watch?v=c2wEynyxw-0" target="_blank"><img class="social-media-img" src="/assets/img/youtube.png" alt="YouTube"></a>
</footer>


