
<div class="box">
  <div class="row">
      <div class="col-md-5 col-sm-12">
          <img src="{{item.img}}" alt="sas">
      </div>
      <div class="col-md-7 col-sm-12">
          <div class="info">
              <ul class="list-unstyled">
                  <li><strong>Title : </strong>{{item.title}}</li>

                  <li><strong>Description : </strong>{{item.description}}</li>


                  <li><strong>Price : </strong>{{item.price}} TD</li>
              </ul>
          </div>
      </div>
  </div>
</div>



